<h1>¡¡¡Nuestros Productos!!!</h1>
<div id="listProducts">
    {{#each docs}}
        <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Price: {{price}}</p>
            <p>id: {{id}}</p>
            <p>code :{{code}}</p>
            <p>Stock:{{stock}}</p>
        </div>
    {{/each}}
</div>