<h2>Mocking Products</h2>

<div name="mockingProducts" id="mockingProducts">
    {{#each docs}}
        <div>
            <h3>{{title}}</h3>
            <p>id: {{id}}</p>
            <p>{{category}}: {{description}}</p>
            <p>Price: {{price}}</p>
            <p>code :{{code}}</p>
            <p>Stock:{{stock}}</p>
        </div>
    {{/each}}
</div>