<div>
    <div>
        <p>¡¡¡ BIENVENIDO !!!</p>
        <div name="role" id="role">Perfil de {{user.role}}</div>
    </div>
    <div>
        <label name="firstName" id="firstName">Nombre:</label>
        <span>{{user.firstName}}</span>
    </div>
    <div>
        <label name="lastName" id="lastName">Apellido:</label>
        <span>{{user.lastName}}</span>
    </div>
    <div>
        <label name="email" id="email">Email:</label>
        <span>{{user.email}}</span>
    </div>
    <div>
        <label name="age" id="age">Edad:</label>
        <span>{{user.age}}</span>
    </div>
</div>

<div>
    <button type="submit">
        <a href="/">Cerrar sesión</a>
    </button>
</div>
