<h1>Stock de productos en tiempo real</h1>
<div id="listProducts">
    {{#each products}}
        <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Price: {{price}}</p>
            <p>id: {{id}}</p>
            <p>code :{{code}}</p>
            <p>Stock:{{stock}}</p>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>